<div class="container">
    <h2>View User</h2>
        <div>

            <label for="name">Name</label>
            <div class="content">{{obj.name}}</div>
      
          </div>

          <div>

            <label for="email">Email</label>
            <div class="content">{{obj.email}}</div>
      
          </div>
      
          <div>
      
            <label for="phoneNumber">Phone number</label>
      
            <div class="content">{{obj.phone}}</div>
      
          </div>
      
          <div>
            <div class="back" routerLink="/user-list">Back</div>
      
          </div>

</div>
