<div class="container">
    <h2>Add User</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div>

            <label for="firstName">Name</label>
      
            <input type="text" name="name" id="name" formControlName="name" />
      
          </div>

          <div>

            <label for="firstName">Email</label>
      
            <input type="email" name="email" id="name" formControlName="email" />
      
          </div>
      
          <div>
      
            <label for="phoneNumber">Phone number</label>
      
            <input type="tel" name="phone" id="phone"  formControlName="phone" />
      
          </div>
      
          <div>
      
            <button type="submit" [disabled]="!profileForm.valid" class="submitButton">Add</button>
            <div class="back" routerLink="/user-list">Back</div>
      
          </div>

    </form>

</div>
