.container{
    width: 80%;
    margin: 100px auto;
}

label{
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
input[type=text], input[type=email], input[type=tel]{
    width: 400px;
    height: 35px;
    margin: 5px 0;
    padding: 0 5px;
}

button[type=submit]{
    width: 200px;
    height: 35px;
    margin: 5px 0;
}

.back{
    width: 200px;
    height: 30px;
    margin: 5px 0;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 7px;
}