<div class="container">
    <h2>User List  </h2>
    <div class="add-user" routerLink="/user-add">Add User</div>
    
    <div *ngIf="userArr.length > 0; else noData">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <!-- <th>Image</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userArr">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <!-- <td>{{item.image}}</td> -->
                    <td><span (click)="goToEdit(item)">View</span>&nbsp;&nbsp; <span>Delete</span></td>
                </tr>
            </tbody>
            
            
        </table>
        </div>
        <ng-template #noData>
        No data!!
        </ng-template>
</div>


