.container{
    width: 80%;
    margin: 0 auto;
}
table{
    width: 100%;
    border: 1px solid #ccc;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.add-user{
    width: 150px;
    height: 30px;
    margin: 5px 0;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    background-color: green;
}